<component name="libraryTable">
  <library name="Spring">
    <CLASSES>
      <root url="jar://D:/chrome/spring MVC所需jar包/jstl.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-beans-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-aspects-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-core-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/commons-logging-1.1.1.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-aop-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-context-support-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-context-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-expression-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-instrument-tomcat-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-instrument-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-jdbc-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-jms-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-messaging-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-orm-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-oxm-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-test-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-tx-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/standard.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-websocket-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-webmvc-portlet-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-webmvc-4.3.0.RELEASE.jar!/" />
      <root url="jar://D:/chrome/spring MVC所需jar包/spring-web-4.3.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>